@charset "utf-8";
.refresh{
    display: inline-block;
    background: url("../images/refresh.jpg") no-repeat;
    background-size:50% ;
    width: 61px;
    height: 47px;
    vertical-align: middle;
    position: absolute;
    right: -14px;
    top: 13px;
}
.gou{
    display: inline-block;
    background: url("../images/gou.png") no-repeat;
    background-size: 50%;
    width: 23px;
    height: 18px;
    vertical-align: middle;
}
.xunhuan{
    display: inline-block;
    background: url("../images/xunhuan.png") no-repeat;
    background-size: 50%;
    width: 34px;
    height: 22px;
    vertical-align: middle;
    padding-right: 10px;
}
.zhong{
    display: inline-block;
    background: url("../images/zhong.png") no-repeat;
    background-size: 50%;
    width: 31px;height: 26px;
    vertical-align: middle;
    padding-right: 10px;
}
.local{
    display: inline-block;
    background: url("../images/local.png") no-repeat;
    background-size: 50%;
    width: 29px;
    height: 25px;
    vertical-align: middle;
    padding-right: 10px;
}
.lingdang{
    display: inline-block;
    background: url("../images/lingdang.png") no-repeat;
    background-size: 50%;
    width: 23px;
    height: 24px;
    vertical-align: middle;
    padding-right: 10px;
}
.right{
    display: inline-block;
    background: url("../images/right.png") no-repeat;
    background-size: 70%;
    width: 20px;
    height: 50px;
    vertical-align: middle;
    margin-left: 80px;
}
.btn_radio1{
    display: inline-block;
    background: url("../images/btn_radio1.png") no-repeat;
    width: 56px;
    height: 29px;
    background-size: 50%;
    vertical-align: middle;
}
.btn_radio2{
    display: inline-block;
    background: url("../images/btn_radio2.png") no-repeat;
    width: 56px;
    height: 29px;
    background-size: 50%;
    vertical-align: middle;
}
.xing{
    display: inline-block;
    background: url("../images/xing.png") no-repeat;
    background-size: 50%;
    width: 9px;
    height: 9px;
    vertical-align: text-top;
}
.ckwd{
    display: inline-block;
    background: url("../images/ckwd.png") no-repeat;
    background-size: 50%;
    width: 21px;
    height: 22px;
    vertical-align: middle;
}
.arrow_left1{
    display: inline-block;
    background: url("../images/arrow_left1.png") no-repeat;
    width: 24px;
    height: 21px;
    vertical-align: middle;
    background-size: 50%;
}
.search{
    display: inline-block;
    background: url("../images/search.png") no-repeat;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-size: 50%;
}
.add{
    display: inline-block;
    background: url("../images/add.png") no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-size: 50%;
}
.dian{
    background: url("../images/dian.png") no-repeat;
    display: inline-block;
    background-size: 50%;
    width: 7px;
    height: 7px;
    vertical-align: middle;
}
.btn_radio3{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}
.btn_radio3 li{
    float: left;
    width: 80px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #E6E6E6;
}
.btn_radio3 li:hover,.btn_radio3 li.active{
    background: #E8E6E5;
}
.btn_tijiao{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.car1{
    display: inline-block;
    background: url("../images/car1.png") no-repeat;
    width: 36px;
    height: 18px;
    background-size: 50%;
    vertical-align: middle;
}
