/*公共页面*/
/*头部*/
	*{
		  margin:0;padding: 0;
		}
		.content{
			 width:100%;
			 margin:0 auto;
			}
	 	.w1100{
	 		width: 1100px;
	 		margin:0 auto;
	 	}
	 	.header{
			width: 100%;
			height: 91px;
			border-bottom: 1px solid #CDCDCD;	
			overflow: hidden;

		}
		.h_left img{
			width: 243px;
			margin-top: 30px;
			margin-left:50px;
			
		}
		.h_right{
			width: 800px;
			list-style: none;
			float: right;
			margin:35px auto;
		}
		.h_right li{
			display: inline-block;
			padding-left:20px;
			color:#CBCBCB;	
		}
		.h_right li a{
			text-decoration: none;
			font-size: 16px;
			font-family: "微软雅黑";
			color: #4B4B4B;
			padding-right:30px;
		}
		#outer{
			margin-left:30px;
		}

		 /*点击变色*/
		
    	#hright li.blue a{
      		color:#50A5F1;
   		 }

/*尾部*/
	.bottom{
			height: 218px;
			text-align: center;
			font-size: 12px;
			color: #505050;
			margin-top: 32px;
		}
		.bottom p{
			margin-top: 13px;
		}
/*首页*/
.middle1 img{
    max-width:100%;
   }
/*图片轮播*/
 .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

